<div class="main-container">
    <div class="icon">
        <img routerLink="/dashboard" src="assets/svg-icons/back-icon.svg">
    </div>
    <div class="heading">
        <h2>Select goal that you want to add</h2>

        <div class="input-search">
            <input type="text" placeholder="search">
            <img src="assets/svg-icons/search-icon.svg">
        </div>
    </div>

    <div class="box">
        <h3>Most Common</h3>
        <div class="box-head">
            <ng-container *ngFor="let commonGoal of goalTypes.commonGoals">
                <div class="box1" [routerLink]="['/goal-details', commonGoal.id]">
                    <img src={{commonGoal.image}}>
                    <p>{{commonGoal.title}}</p>
                </div>
            </ng-container>

        </div>

        <h3>Other goals</h3>
        <div class="box-content">

            <ng-container *ngFor="let otherGoal of goalTypes.otherGoals">
                <div class="content-box1" [routerLink]="['/goal-details', otherGoal.id]">
                    <img src={{otherGoal.image}}>
                    <div class="content">
                        <h3>{{otherGoal.title}}</h3>
                        <p>{{otherGoal.goalTitle}}</p>
                    </div>
                </div>

                <div class="line"></div>
            </ng-container>
        </div>
    </div>

</div>