<div class="main-container">
    <div class="icon">
        <img src="assets/svg-icons/back-icon.svg">
    </div>
    <div class="heading">
        <h2>Select goal that you want to add</h2>

        <div class="input-search">
            <input type="text" placeholder="search">
            <img src="assets/svg-icons/search-icon.svg">
        </div>
    </div>

    <div class="box">
        <h3>Most Common</h3>
        <div class="box-head">
            <div class="box1">
                <img src="assets/svg-icons/house.svg">
                <p>property</p>
            </div>
            <div class="box1">
                <img src="../../assets/svg-icons/property.jpg">
                <p>property</p>
            </div>
            <div class="box1">
                <img src="../../assets/svg-icons/wedding.svg">
                <p>property</p>
            </div>
        </div>
        
        <h3>Other goals</h3>
        <div class="box-content">    
            <div class="content-box1">
                <img src="../../assets/svg-icons/bike.jpg">
                <div class="content">
                    <h3>Heading</h3>
                    <p>Value</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content-box1">
                <img src="../../assets/svg-icons/car.svg">
                <div class="content">
                    <h3>Heading</h3>
                    <p>Value</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="content-box1">
                <img src="../../assets/svg-icons/mountain.svg">
                <div class="content">
                    <h3>Heading</h3>
                    <p>Value</p>
                </div>
            </div>

        </div>
    </div>

</div>