<div class="main-container">
    <div class="add-goal">
        <button class="btn1" routerLink="/add-goals">ADD Goal</button>
    </div>
    <div class="heading1">
        <h1>Track Your Budget</h1>
        <p>Take control of your saving goals</p>
    </div>


    <div class="card-container">
        <ng-container *ngFor="let goal of goals">
            <div class="card" [ngStyle]="{'background-color': getGoalColor(goal)}">
                <div class="card-photo">
                    <img src="{{ getGoalImg(goal.goalTypeId) }}">

                </div>
                <div class="pencil">
                    <img src="assets/svg-icons/edit-icon.svg" [routerLink]="['/goal-details', goal.goalTypeId]" [queryParams]="{ id: goal.id}">
                </div>
                <div class="card-details">
                    <h1>{{goal.goalTitle}}</h1>
                    <div class="line">
                    </div>
                    <div class="card-content">
                        <div class="saved">
                            <p>Amount saved</p>
                            <p><span>{{goal.amountSaved | currency }} </span>out of <span>{{goal.totalAmount | currency }}</span></p>
                        </div>
                        <div class="icon"></div>
                    </div>
                </div>

            </div>
        </ng-container>

    </div>
</div>