.main-container {
    text-align: center;

    h2 {
        text-align: center;
        margin-top: 60px;
        color: white;
    }

    .card {
        background: white;
        text-align: center;
        width: 30%;
        margin: auto;
        margin-top: 35px;
        border-radius: 15px;

        img {
            height: 224px;
            object-fit: cover;
            width: 100%;
            border-top-right-radius: inherit;
            border-top-left-radius: inherit;
        }

        .details {
            padding: 15px;
            
            p,input,div {
                margin: 8px 0;
            }
            input {
                border: none;
                outline: none;
                text-align: center;
            }
            .line {
                height: 2px;
                background: #d0d0ba;
            }
        }
    }

    .correct-icon {
        background: white;
        height: 81px;
        border-radius: 50%;
        padding: 17px;
        text-align: center;
        margin-top: 25px;
        transition: all 0.2s;

        &:hover {
            padding: 10px;
            cursor: pointer;
        }
    }

    
}