<div class="main-container">
    <h2>Travel</h2>

    <div class="card">
        <img src="../../assets/svg-icons/mountain.svg">
        
        <div class="details">
            <p>Goal title</p>
            <input type="text" placeholder="goal">
            <div class="line"></div>
            <p>Goal amount</p>
            <input type="number" placeholder="number">
            <div class="line"></div>
            <p>*Estimation is $5,000-$20,000.</p>
        </div>
    </div>

    <img class="correct-icon" routerLink="/dashboard" src="../../assets/svg-icons/correct-icon.svg">
</div>
